body{
	margin:0;
	
}

.header{
	font-size:15px;
	background-color:lightgreen;
	padding:2px;
	text-align:leftwards;
}
.nav{
	
	float:right;
	padding:20px;
	margin:0;
}
li{
	display:inline;
	margin:5px;
	font-size:20px;

	
}
a:hover{
	text-decoration:none;
	color:black;
	blink:line;
	}
